<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CheerlandReservas · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if signed_in?(@conn) do %>
            <ul>
                <li><%= link "Sair", to: Routes.session_path(@conn, :delete), method: :delete %></li>
            </ul>
          <% end %>
          <ul>
            <%= if signed_in?(@conn) && @current_user.room_id != nil do %>
              <li><%= link "Minha Reserva", to: Routes.room_path(@conn, :show, @current_user.room_id) %></li>
            <% else %>
              <li><%= link "Quartos", to: Routes.room_path(@conn, :index) %></li>
            <% end %>
          </ul>
          <%= if signed_in?(@conn) do %>
            <ul>
              <li><%= link "Meus dados", to: Routes.user_path(@conn, :show, @current_user) %></li>
            </ul>
          <% end %>
          <ul>
            <li><%= link "Início", to: Routes.page_path(@conn, :index) %></li>
          </ul>
          <ul>
            <%= if signed_in?(@conn) do %>
              <li>Bem Vindo, <%= @current_user.name %></li>
            <% else %>
              <li><%= link "Entrar", to: Routes.session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
        <!-- <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a> -->
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
