<%= if @current_user.is_admin do %>
  <h1>Novo Quarto</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.room_path(@conn, :create)) %>
<% end %>
<span><%= link "Voltar", to: Routes.room_path(@conn, :index) %></span>
