<h2><%= @user.name %></h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Sexo:</strong>
    <%= @user.gender %>
  </li>

  <li>
    <strong>Quarto:</strong>
    <%= @user.room.label %>
  </li>

  <li>
    <strong>Precisa de Onibus?:</strong>
    <%= unless @user.needs_transportation, do: "Não", else: "Sim" %>
  </li>

</ul>

<span><%= link "Voltar", to: Routes.user_path(@conn, :index) %></span>
